asgiref==3.7.2
distlib==0.3.8
Django==3.2.25
filelock==3.12.2
importlib-metadata==6.7.0
opencv-contrib-python==4.9.0.80
platformdirs==4.0.0
pytz==2024.1
sqlparse==0.4.4
typing_extensions==4.7.1
virtualenv==20.26.1
webcam.py==1.0.0
zipp==3.15.0